/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Makes sizing more intuitive */
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove link styles */
a {
  text-decoration: none;
  color: inherit; /* inherit color from parent */
}

/* Remove default form styles */
button,
input,
select,
textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  width: 90%;
  margin: 20px auto;
  background-color: #ffffff;
  font-family: "Regular", sans-serif;
}

header a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 65px;
}

.keyboard {
  width: 910px;
  margin-top: 20px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  box-shadow: 0px 1px rgb(0 0 0 / 25%);
}

.keyboard-row {
  width: 880px;
  display: flex;
  position: relative; /* makes it so keys don't clip to next layer */
}

.key-btn {
  width: 55px;
  height: 55px;
  border: 1px solid #3f3f3f;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key-inner {
  width: 90%;
  height: 45px;
  /* border: 1px solid #bdbdbd; */
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 1px rgb(0 0 0 / 25%);
  margin-top: -4px; /* move up slightly */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  position: relative;
}

.spacebar {
  width: 97%;
}

.key-inner span {
  font-size: 13px;
}

.legend {
  position: absolute;
  bottom: 5px;
  right: 0px;
}
